<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Resume</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>Create Your Resume</h1>
<form id="resumeForm">
  <!-- Форма для заполнения информации о резюме -->
</form>
<button id="submitBtn" onclick="submitResume()">Submit</button>

<script>
  function submitResume() {
    // Логика для отправки данных о резюме на сервер
  }
</script>
<script src="/scripts.js"></script>
</body>
</html>