<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Resume</title>
  <link rel="stylesheet" th:href="@{/static/styles.css}">
</head>
<body>
<h1>Create Your Resume</h1>
<form id="resumeForm" th:action="@{/api/resume/create}" method="post">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
  </div>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required>
  </div>
  <div>
    <h2>Education</h2>
    <div th:each="education, educIndex : ${educations}">
      <div>
        <label th:for="'degree' + ${educIndex.index}">Degree:</label>
        <label>
          <input type="text" th:id="'degree' + ${educIndex.index}" th:name="'education[' + ${educIndex.index} + '].degree'" required>
        </label>
      </div>
      <div>
        <label th:for="'university' + ${educIndex.index}">University:</label>
        <label>
          <input type="text" th:id="'university' + ${educIndex.index}" th:name="'education[' + ${educIndex.index} + '].university'" required>
        </label>
      </div>
      <div>
        <label th:for="'startDateEducation' + ${educIndex.index}">Start Date:</label>
        <label>
          <input type="date" th:id="'startDateEducation' + ${educIndex.index}" th:name="'education[' + ${educIndex.index} + '].startDate'" required>
        </label>
      </div>
      <div>
        <label th:for="'endDateEducation' + ${educIndex.index}">End Date:</label>
        <label>
          <input type="date" th:id="'endDateEducation' + ${educIndex.index}" th:name="'education[' + ${educIndex.index} + '].endDate'" required>
        </label>
      </div>
    </div>
  </div>
  <div>
    <h2>Experience</h2>
    <div th:each="experience, expIndex : ${experiences}">
      <div>
        <label th:for="'jobTitle' + ${expIndex.index}">Job Title:</label>
        <label>
          <input type="text" th:id="'jobTitle' + ${expIndex.index}" th:name="'experience[' + ${expIndex.index} + '].jobTitle'" required>
        </label>
      </div>
      <div>
        <label th:for="'company' + ${expIndex.index}">Company:</label>
        <label>
          <input type="text" th:id="'company' + ${expIndex.index}" th:name="'experience[' + ${expIndex.index} + '].company'" required>
        </label>
      </div>
      <div>
        <label th:for="'startDateExperience' + ${expIndex.index}">Start Date:</label>
        <label>
          <input type="date" th:id="'startDateExperience' + ${expIndex.index}" th:name="'experience[' + ${expIndex.index} + '].startDate'" required>
        </label>
      </div>
      <div>
        <label th:for="'endDateExperience' + ${expIndex.index}">End Date:</label>
        <label>
          <input type="date" th:id="'endDateExperience' + ${expIndex.index}" th:name="'experience[' + ${expIndex.index} + '].endDate'" required>
        </label>
      </div>
      <div>
        <label th:for="'description' + ${expIndex.index}">Description:</label>
        <label>
          <textarea th:id="'description' + ${expIndex.index}" th:name="'experience[' + ${expIndex.index} + '].description'" required></textarea>
        </label>
      </div>
    </div>
  </div>
  <div>
    <label for="format">Choose Format:</label>
    <select id="format" name="format">
      <option value="pdf">PDF</option>
      <!-- Дополнительные форматы -->
    </select>
  </div>
  <button type="button" onclick="submitResume()">Submit</button>
</form>
<script th:src="@{/static/scripts.js}"></script>
</body>
</html>